.pContainer {
    background-image: url('../../../public/media/background.png');
    transform: rotate(180deg);
    background-size: contain;
    min-height: 800px;
    height: auto;
}

.pFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    padding: 50px;
}

.fElement {
    width: 50%;
}

.pImage {
    width: 450px;
    margin-left: 20%;
    animation: floating-action 4s infinite;
}

.pText {
    font-family: 'SpaceGroteskMedium';
    color: #FFFFFF;
    text-align: right;
    width: 65%;
    font-size: 1.6rem;
    margin-left: 20%;
}

@keyframes floating-action {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
}

@media ((min-width: 900px) and (max-width: 1200px)) {
    .pImage {
        width: 300px;
        margin-left: 10%;
    }

    .pText {
        width: 75%;
        font-size: 1.5rem;
    }
}

@media ((min-width: 500px) and (max-width: 900px)) {
    .pContainer {
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        min-height: 0;
        background-image: none;
        background: rgb(22,4,41);
        background: linear-gradient(180deg, rgba(22,4,41,1) 0%, rgba(86,36,101,1) 100%);
    }

    .pFlex {
        padding: 0;
    }

    .fImg {
        display: none;
    }

    .fElement {
        width: 100%;
        justify-content: center;
        background-color: rgb(193, 38, 197, 0.2);
        margin-top: -5px;
        border-top: 1px solid #c126c5;
        border-bottom: 1px solid #c126c5;
    }

    .pText {
        width: 80%;
        text-align: center;
        font-size: 1.3rem;
        margin: 0 auto;
        padding: 10px 5px;
        animation: neon 3s infinite;
    }
}

@media (max-width: 500px) {
    .pContainer {
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        min-height: 0;
        background-image: none;
        background: rgb(22,4,41);
        background: linear-gradient(180deg, rgba(22,4,41,1) 0%, rgba(86,36,101,1) 100%);
    }

    .fImg {
        display: none;
    }

    .pFlex {
        padding: 0;
    }

    .fImg {
        display: none;
    }

    .fElement {
        width: 100%;
        justify-content: center;
        background-color: rgb(193, 38, 197, 0.2);
        margin-top: -5px;
    }

    .pText {
        width: 80%;
        text-align: center;
        font-size: 1rem;
        margin: 0 auto;
        padding: 10px 5px;
        animation: neon 3s infinite;
    }
}