.formFlex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.formContainer {
    background-color: #363636;
    width: 30vw;
    min-width: 300px;
    height: auto;
    margin-left: 5.5vw;
    margin: 30px 0 30px 5.5vw;
    border-radius: 1rem;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fContainerInput {
    margin: 15px 0;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    border: 2px solid transparent;
    font-size: 20px;
    font-family: 'SpaceGroteskRegular';
}

.fContainerInput:focus {
    outline: none !important;
    border: 2px solid #e512ec;
}

.fContainerInput::placeholder {
    font-size: 20px;
}

.fContainerInput::-webkit-input-placeholder {
    font-family: 'SpaceGroteskRegular';
}

.fContainerInput:-ms-input-placeholder {
    font-family: 'SpaceGroteskRegular';
}

.fContainerInput:-moz-placeholder {
    font-family: 'SpaceGroteskRegular';
}

.fContainerInput::-moz-placeholder {
    font-family: 'SpaceGroteskRegular';
}

.formContainer textarea {
    resize: none;
    overflow: auto;
    min-height: 170px;
}

.formImg {
    margin-left: 20vw;
    width: 400px;
    height: 400px;
    transition: all 2s;
}

.formImg:hover {
    transform: rotate(360deg);
}

.formButton {
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    background: linear-gradient(98.22deg, #C126C5 43.69%, rgba(249, 0, 255, 0.345668) 100.37%);
    border-radius: 10px;
    cursor: pointer;
    border: transparent;
    font-size: 1.5rem;
    font-family: 'SpaceGroteskBold';
}

.formButton:active {
    font-size: 1.4rem;
}