.fadeContainer {
    height: 2700px;
    background: linear-gradient(180deg, #160429 1.5%, rgba(57, 3, 115, 0.488403) 23.18%, rgba(255, 255, 255, 0) 38%);
    overflow: hidden;
}

.fadeContainer h2 {
    margin: 0;
    padding: 200px 0 0 5.5vw;
    color: #FFFFFF;
    font-family: 'SpaceGroteskBold';
    font-size: 2.3rem;
}

.fFlexContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    max-height: 400px;
    overflow: hidden;
}

.fFlex {
    display: flex;
    padding-left: 4vw;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 30px;
}

.fFlexElement {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(59, 58, 58);
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin: 15px 20px;
    border: 2px solid transparent;
    font-size: 4rem;
    transition: all .5s;
}

.fFlexElement:hover {
    border: 2px solid #cf4cf0;
}

.fFlexIcon {
    transition: all 1s;
}

.fFlexIcon:hover {
    color: #be2cdb;
}

.fFlexImg {
    width: 400px;
    margin-left: 10vw;
    animation: ufo 8s infinite;
}

.fCv {
    text-decoration: none;
    color: #000000;
    font-family: 'SpaceGroteskBold';
    font-size: 1.3rem;
    padding: 20px 30px;
    border: 2px solid #b439d3;
    border-radius: .7rem;
    position: relative;
    transition: .8s;
    margin-left: 5vw;
    margin-top: 20px;
}

.fCv:hover {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 2.5rem #b439d3;
}

@keyframes ufo {
    0% {transform: translate(0px, 0px);}
    25% {transform: translate(80px, -70px);}
    50% {transform: translate(150px, 30px);}
    80% {transform: translate(-100px, -40px);}
    100% {transform: translate(0px, 0px);}
}