.ppContainer {
    position: relative;
}

.ppContainer h2 {
    color: #fff;
    text-align: end;
    padding-right: 6vw;
}

.ppContainer h3 {
    text-align: end;
    padding-right: 6vw;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'SpaceGroteskBold';
    font-size: 1.3rem;
}

.spanPurple {
    color: #e512ec;
    cursor: pointer;
}

.ppFlex {
    display: flex;
    height: auto;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 50px;
}

.ppFlex a {
    width: fit-content;
    height: fit-content;
    cursor: default;
}

.ppFlexImgMoon {
    width: 600px;
    z-index: 1;
    animation: rotation360 80s linear infinite;
}

.ppUFO {
    width: 100px;
    z-index: 2;
    position: relative;
    margin-top: 80px;
    cursor: pointer;
    animation: ufo 10s infinite;
    z-index: 1;
}

.pageLink {
    text-decoration: none;
}

@keyframes ufo {
    0% {transform: translate(0px, 0px);}
    25% {transform: translate(80px, -70px);}
    50% {transform: translate(150px, 30px);}
    80% {transform: translate(-100px, -40px);}
    100% {transform: translate(0px, 0px);}
}

@keyframes rotation360 {
    0% {transform: rotate(360deg);}
}