.hContainer {
    background-image: url('../../../public/media/background.png');
    background-size: contain;
    min-height: 800px;
    height: auto;
    position: relative;
}

.hGrid {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 500px;
    padding-top: 120px;
}

.hGridText {
    max-width: 400px;
    padding-top: 200px;
}

.hGridText h2 {
    font-family: 'SpaceGroteskBold';
    color: white;
    font-size: 5rem;
    margin: 0;
}

.hGridText h3 {
    font-family: 'SpaceGroteskMedium';
    color: #C126C5;
    font-size: 2rem;
    margin: 10px 0 0 20px;
    animation: neon 4s infinite;
}

.hGridImg {
    margin: 100px 0 0 -15vw;
    width: 650px;
    animation: floating 4s infinite;
}

.shootingStar:nth-child(1) {
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 100%;
    background-color: #FFFFFF;
    left: -100px;
    top: 100px;
    animation: shootingStar 5s ease-out 3s infinite;
}

.shootingStar:nth-child(2) {
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 100%;
    background-color: #FFFFFF;
    right: -100px;
    rotate: 180deg;
    top: 250px;
    animation: shootingStarInv 5s ease-out 6s infinite;
}

.starTail {
    width: 0;
    height: 0;
    border: 1px solid transparent;
    rotate: 270deg;
    border-top: 0;
    border-bottom: 140px solid aliceblue;
    position: absolute;
    left: -68px;
    top: -67.55px;
    background-color: transparent;
}

@keyframes shootingStar {
    80% {opacity: 0;}
    100% {transform: translate(100vw, 120px) rotate(20deg); opacity: 0;}
}

@keyframes shootingStarInv {
    80% {opacity: 0;}
    100% {transform: translate(100vw, -100px) rotate(-20deg); opacity: 0;}
}

@keyframes neon {
    0% {text-shadow: #d166d4 0 0 12px}
    50% {text-shadow: #d166d4 0 0 36px}
    100% {text-shadow: #d166d4 0 0 12px}
}

@keyframes floating {
    0% {transform: translateY(-25px);}
    50% {transform: translateY(-50px);}
    100% {transform: translateY(-25px);}
}

@media ((min-width: 830px) and (max-width: 1300px)) {
    .hGridImg {
        width: 500px;
    }

    .hGridImgMe {
        display: none;
    }
}

@media ((min-width: 830px) and (max-width: 1000px)) {
    .hGridImg {
        width: 400px;
    }

    .hGridImgMe {
        display: none;
    }

    .hGridText {
        padding-top: 150px;
    }

    .hGridText h2 {
        font-size: 4rem;
    }

    .hGridText h3 {
        font-size: 1.5rem;
    }

    .nContainer ul li a {
        font-size: 1.4rem;
    }
}

@media ((min-width: 700px) and (max-width: 830px)) {
    .hGrid {
        display: flex;
        justify-content: center;
    }

    .hGridImg {
        width: 400px;
    }

    .hContainer {
        min-height: fit-content;
    }

    .hGridText {
        padding-top: 150px;
        margin-left: 60px;
    }

    .hGridText h2 {
        font-size: 4rem;
    }

    .hGridText h3 {
        font-size: 1.5rem;
    }

    .nContainer ul li a {
        font-size: 1.4rem;
    }

    .hGridImgMe {
        display: none;
    }
}

@media ((min-width: 600px) and (max-width: 700px)) {
    .hGrid {
        display: flex;
        justify-content: center;
        height: 450px;
    }

    .hGridImg {
        width: 350px;
        margin-left: 0;
    }

    .hContainer {
        min-height: fit-content;
    }

    .hGridText {
        padding-top: 150px;
        margin-left: 60px;
    }

    .hGridText h2 {
        font-size: 3.5rem;
    }

    .hGridText h3 {
        font-size: 1.3rem;
    }

    .nContainer ul li a {
        font-size: 1.3rem;
    }

    .hGridImg {
        margin-left: -10px;
    }

    .hGridImgMe {
        display: none;
    }
}

@media ((min-width: 500px) and (max-width: 599px)) {
    .hGrid {
        display: flex;
        justify-content: center;
        height: 350px;
    }

    .hGridImg {
        width: 300px;
        margin-top: 0;
    }

    .hContainer {
        min-height: fit-content;
    }

    .hGridText {
        margin-left: 60px;
        padding-top: 50px;
    }

    .hGridText h2 {
        font-size: 2.6rem;
    }

    .hGridText h3 {
        font-size: 1.1rem;
        margin-left: 5px;
    }

    .nContainer ul li a {
        font-size: 1.3rem;
    }

    .hGridImg {
        margin-left: -10px;
    }

    .hGridImgMe {
        display: none;
    }
}

@media ((min-width: 400px) and (max-width: 499px)) {
    .hGrid {
        display: flex;
        justify-content: center;
        height: 260px;
    }

    .hGridImg {
        width: 260px;
        margin-top: 0;
    }

    .hContainer {
        min-height: fit-content;
    }

    .hGridText {
        margin-left: 60px;
        padding-top: 50px;
    }

    .hGridText h2 {
        font-size: 2rem;
    }

    .hGridText h3 {
        font-size: 1.2rem;
        margin-left: 5px;
    }

    .hGridImg {
        margin-left: -10px;
    }

    .hGridImgMe {
        display: none;
    }
}

@media (max-width: 399px) {
    .hGrid {
        display: flex;
        justify-content: center;
        height: 210px;
    }

    .hGridImg {
        width: 200px;
        margin-top: 0;
    }

    .hContainer {
        min-height: fit-content;
    }

    .hGridText {
        margin-left: 60px;
        padding-top: 10px;
    }

    .hGridText h2 {
        font-size: 1.6rem;
    }

    .hGridText h3 {
        font-size: 1.2rem;
        margin-left: 5px;
    }

    .hGridImg {
        margin-left: -10px;
    }

    .hGridImgMe {
        display: none;
    }
}