/* SpaceGrotesk font-family import */
@font-face {
    font-family: 'SpaceGroteskLight';
    src: local('SpaceGrotesk-Light'),
    url('./fonts/space-grotesk/SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGroteskMedium';
    src: local('SpaceGrotesk-Medium'),
    url('./fonts/space-grotesk/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGroteskRegular';
    src: local('SpaceGrotesk-Regular'),
    url('./fonts/space-grotesk/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGroteskBold';
    src: local('SpaceGrotesk-Bold'),
    url('./fonts/space-grotesk/SpaceGrotesk-Bold.ttf') format('truetype');
}

/* General */
html, body {
    margin: 0;
    scroll-behavior: smooth;
    user-select: none;
}

html {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.Toastify__toast {
    background-color: #363636 !important;
}

.Toastify__toast-body {
    background-color: #363636;
    color: #FFFFFF;
    font-size: 1rem;
    font-size: bold;
    font-family: 'SpaceGroteskBold';
}

.Toastify__progress-bar--success {
    background-color: #e512ec !important;
}