/* SpaceGrotesk font-family import */
@font-face {
    font-family: 'SpaceGroteskLight';
    src: local('SpaceGrotesk-Light'),
    url('./fonts/space-grotesk/SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGroteskMedium';
    src: local('SpaceGrotesk-Medium'),
    url('./fonts/space-grotesk/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGroteskRegular';
    src: local('SpaceGrotesk-Regular'),
    url('./fonts/space-grotesk/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGroteskBold';
    src: local('SpaceGrotesk-Bold'),
    url('./fonts/space-grotesk/SpaceGrotesk-Bold.ttf') format('truetype');
}

/* General */
html, body {
    margin: 0;
    scroll-behavior: smooth;
    user-select: none;
    cursor: url('../public/media/pizza-slice.png') 25 15, auto;
}

html {
    scrollbar-width: none;
}

a:hover {
    cursor: url('../public/media/pizza-slice.png') 25 15, auto;
}

button:hover {
    cursor: url('../public/media/pizza-slice.png') 25 15, auto;
}

span:hover {
    cursor: url('../public/media/pizza-slice.png') 25 15, auto;
}

body::-webkit-scrollbar {
    display: none;
}