/* SpaceGrotesk font-family import */
@font-face {
    font-family: 'SpaceGroteskLight';
    src: local('SpaceGrotesk-Light'),
    url('./fonts/space-grotesk/SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGroteskMedium';
    src: local('SpaceGrotesk-Medium'),
    url('./fonts/space-grotesk/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGroteskRegular';
    src: local('SpaceGrotesk-Regular'),
    url('./fonts/space-grotesk/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGroteskBold';
    src: local('SpaceGrotesk-Bold'),
    url('./fonts/space-grotesk/SpaceGrotesk-Bold.ttf') format('truetype');
}

/* General */
html, body {
    margin: 0;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    background-image: linear-gradient(to bottom, #3e0350, #4e0e69, #481466, #300e49, #31174c, #32184d, #32184f, #331950, #4e2371, #6c2b93, #8e32b5, #b336d6);
    background-size: cover;
    overflow-x: hidden;
}

html {
    scrollbar-width: none;
}

.websiteContainer {
    overflow: hidden;
    height: 3400px;
}

body::-webkit-scrollbar {
    display: none;
}